.addnew,.diploma,.family {
    .btn_addnew {
        margin-bottom: 20px;
    }

    .gap {
        height: 10px;
    }

    .table {
        // .btn-edit.btn.btn-primary:hover {
        //     background-color: unset !important;

        //     i {
        //         color: #009ef7;
        //     }

        // }

        thead {
            background-color: #1e1e2d;
            color: #fff;
        }

        button {
            margin: 0 5px 10px 5px;
            border-radius: 50%;
            padding: 5px;
            background: none !important;

            .edit {
                color: green;

            }

            .delete {
                color: red;
            }

            i {
                font-size: 15px;
                padding: 0;


            }
        }

        .btn-edit.btn-check:checked+.btn.btn-primary,
        .btn-check:active+.btn.btn-primary,
        .btn.btn-primary:focus:not(.btn-active),
        .btn.btn-primary:hover:not(.btn-active),
        .btn.btn-primary:active:not(.btn-active),
        .btn.btn-primary.active,
        .btn.btn-primary.show,
        .show>.btn.btn-primary:hover {

            background-color: unset !important;

            .edit {
                color: rgb(12, 69, 255);
            }
        }

        .btn-delete.btn-check:checked+.btn.btn-primary,
        .btn-check:active+.btn.btn-primary,
        .btn.btn-primary:focus:not(.btn-active),
        .btn.btn-primary:hover:not(.btn-active),
        .btn.btn-primary:active:not(.btn-active),
        .btn.btn-primary.active,
        .btn.btn-primary.show,
        .show>.btn.btn-primary:hover {

            background-color: unset !important;

            .delete {
                color: black;
            }
        }



    }

    tr th {
        border: 1px solid #000 !important;
        padding: 10px 5px !important;
    }

    .table tr {
        // border-bottom: 1px solid #000 !important;
    }
}
.dialog{
    .modal-footer{
        justify-content: center !important;
        .btn-close{
            background-color: red;
        }
    }
}
.tab.nav-tabs{ 
    .nav-link {
        font-size: 15px !important;
    }
    .nav-link.active {
        
        background-color: #009EF7 !important;
        color: white;
    }
}
.add_employee{
    .image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        .img{
            width: 310px;
            height: 310px;
            object-fit: cover;
            background-position: center;
            margin-bottom: 18px;
        }
        input{
                display: none;
            }
            label{
                width: 100px;
                text-align: center;
                padding: 5px 0;
                background-color: #007af5;
                font-size: 13px;
                border-radius: 5px;
                color: white;
            }
    }
    
}
.pagination{
    .rowperpage{
        .rowperpage-dropdown{
            
        }
    }
}